.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.idea/
*.iml
.vscode/
.gradle/
build/
*/build/
local.properties
*.log
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.env.*.local
/backend/src/main/resources/application.properties
/Users/monicanajarro/IT342_Najarro_TakeOff/scripts
/Users/monicanajarro/IT342_Najarro_TakeOff/.idea
/Users/monicanajarro/IT342_Najarro_TakeOff/.gradle-local

